<% provide(:title, "About") %>
<h1>About</h1>
<p>
  This Application was developed by <a href="https://twitter.com/chaduvula98"><em>Chaduvula Prasanth</em> </a>. Whole app follows the rules of Michael Hartl Ruby on Rails tutorial book. This is the sample app for the tutorial.
</p>
